<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@@seo.title</title>
  @@for (var i = 0; i < cssurl.length; i++) {
    <link rel="stylesheet" type="text/css" href="`+cssurl[i]+`">
  }
</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html">卷歌Ⅰ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/index.html">主页 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/page/pc/actionList.html">web动画收集</a>
            <a class="nav-item nav-link" href="#">其他</a>
            <a class="nav-item nav-link" href="#">关于</a>
          </div>
        </div>
    </div>
  </nav>
</header>
  