<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="zh-CN" xml:lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>@@seo.title</title>
    @@for (var i = 0; i < cssurl.length; i++) {
        <link rel="stylesheet" type="text/css" href="`+cssurl[i]+`">
    }
	  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	  <meta content="telephone=no" name="format-detection">
	  <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <script type="text/javascript">
    	document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    </script>
  </head>
  <body>